// text colors
.text_primary{
    color: $text-primary;
}
.text_secondary{
    color: $text-secondary;
}
.text_dark{
    color: $text-dark;
}
.text_white{
    color:$text-white;
}
.text_white_50{
    color:$text-white-50;
}
.text_gray_600{
    color: $text-gray-600;
}
.text_light{
    color:$text-light;
}
// background colors
.bg_primary{
    background-color: $bg-primary;
}
.bg_secondary{
    background-color: $bg-secondary;
}
.bg_dark{
    background-color: $bg-dark;
}
.bg_light{
    background-color: $bg_light;
}
.bg_gray_200{
    background-color: $bg-gray-200;
}
.bg_gray_600{
    background-color: $bg-gray-600;
}
.bg_white{
    background-color: $bg-white;
}