// font sizes
.fs_8{
    font-size: 0.571rem;
}
.fs_9{
    font-size: 0.643rem;
}
.fs_10{
    font-size: 0.714rem;
}
.fs_11{
    font-size: 0.786rem;
}
.fs_12{
    font-size: 0.857rem;
}
.fs_13{
    font-size: 0.929rem;
}
.fs_14{
    font-size: 1rem;
}
.fs_15{
    font-size: 1.072rem;
}
.fs_16{
    font-size: 1.143rem;
}
.fs_17{
    font-size: 1.215rem;
}
.fs_18{
    font-size: 1.286rem;
}
.fs_19{
    font-size: 1.358rem;
}
.fs_20{
    font-size: 1.429rem;
}
.fs_21{
    font-size: 1.501rem;
}
.fs_22{
    font-size: 1.572rem;
}
.fs_23{
    font-size: 1.644rem;
}
.fs_24{
    font-size: 1.715rem;
}
.fs_25{
    font-size: 1.787rem;
}
.fs_26{
    font-size: 1.858rem;
}
.fs_27{
    font-size: 1.93rem;
}
.fs_28{
    font-size: 2.001rem;
}
.fs_29{
    font-size: 2.073rem;
}
.fs_30{
    font-size: 2.144rem;
}
.fs_31{
    font-size: 2.216rem;
}
.fs_32{
    font-size: 2.287rem;
}
.fs_33{
    font-size: 2.358rem;
}
.fs_34{
    font-size: 2.43rem;
}
.fs_35{
    font-size: 2.501rem;
}
.fs_36{
    font-size: 2.573rem;
}
.fs_37{
    font-size: 2.644rem;
}
.fs_38{
    font-size: 2.716rem;
}
.fs_39{
    font-size: 2.787rem;
}
.fs_40{
    font-size: 2.859rem; 
    
}
.fs_41{
    font-size: 2.93rem;
    
}
.fs_42{
    font-size: 3.002rem;
    
}
.fs_43{
    font-size: 3.073rem;
    
}
.fs_44{
    font-size: 3.145rem;
    
}
.fs_45{
    font-size: 3.216rem;
    
}
.fs_46{
    font-size: 3.288rem;
    
}
.fs_47{
    font-size: 3.359rem;
    
}
.fs_48{
    font-size: 3.431rem;
    
}
.fs_49{
    font-size: 3.502rem;
    
}
.fs_50{
    font-size: 3.574rem;
    
}
.fs_51{
    font-size: 3.645rem;
    
}
.fs_52{
    font-size: 3.717rem;
    
}
.fs_53{
    font-size: 3.788rem;
    
}
.fs_54{
    font-size: 3.86rem;
    
}
.fs_55{
    font-size: 3.931rem;
    
}
.fs_56{
    font-size: 4.003rem;
    
}
.fs_57{
    font-size: 4.074rem;
    
}
.fs_58{
    font-size: 4.145rem;
    
}
.fs_59{
    font-size: 4.216rem;
    
}
.fs_60{
    font-size: 4.288rem;    
}
.fs_70{
    font-size: 6.67rem;
}