// Custom Padding Color Classes

// Padding Left Classes
.ps-6 {
    padding-left: 3.25rem !important
}
.ps-7 {
    padding-left: 3.5rem !important
}
.ps-8 {
    padding-left: 3.75rem !important
}
.ps-9 {
    padding-left: 4rem !important
}
.ps-10 {
    padding-left: 4.25rem !important
}
.ps-11 {
    padding-left: 4.5rem !important
}
.ps-12{
    padding-left: 4.75rem !important
}
.ps-13{
    padding-left: 5rem !important
}

.ps-14 {
    padding-left: 5.25rem !important
}

.ps-15 {
    padding-left: 5.5rem !important
}

.ps-16 {
    padding-left: 5.75rem !important
}

.ps-17 {
    padding-left: 6rem !important
}
.ps-18 {
    padding-left: 6.25rem !important
}

.ps-19 {
    padding-left: 6.5rem !important
}

.ps-20 {
    padding-left: 6.75rem !important
}

.ps-21 {
    padding-left: 7rem !important
}
.ps-22 {
    padding-left: 7.25rem !important
}

.ps-23 {
    padding-left: 7.5rem !important
}

.ps-23 {
    padding-left: 7.75rem !important
}

.ps-24 {
    padding-left: 8rem !important
}

// Padding Top Classes 
.pt-6 {
    padding-top: 3.25rem !important
}
.pt-7 {
    padding-top: 3.5rem !important
}
.pt-8 {
    padding-top: 3.75rem !important
}
.pt-9 {
    padding-top: 4rem !important
}
.pt-10 {
    padding-top: 4.25rem !important
}
.pt-11 {
    padding-top: 4.5rem !important
}
.pt-12{
    padding-top: 4.75rem !important
}
.pt-13{
    padding-top: 5rem !important
}
.pt-14 {
    padding-top: 5.25rem !important
}
.pt-15 {
    padding-top: 5.5rem !important
}
.pt-16{
    padding-top: 5.75rem !important
}
.pt-17{
    padding-top: 6rem !important
}
.pt-18 {
    padding-top: 6.25rem !important
}
.pt-19 {
    padding-top: 6.5rem !important
}
.pt-20{
    padding-top: 6.75rem !important
}
.pt-21{
    padding-top: 7rem !important
}
.pt-22 {
    padding-top: 7.25rem !important
}
.pt-23 {
    padding-top: 7.5rem !important
}
.pt-24{
    padding-top: 7.75rem !important
}
.pt-25{
    padding-top: 8rem !important
}
.pt-26 {
    padding-top: 8.25rem !important
}
.pt-27 {
    padding-top: 8.5rem !important
}
.pt-28{
    padding-top: 8.75rem !important
}
.pt-29{
    padding-top: 9rem !important
}
.pt-30 {
    padding-top: 9.25rem !important
}
.pt-31 {
    padding-top: 9.5rem !important
}
.pt-32{
    padding-top: 9.75rem !important
}
.pt-33{
    padding-top: 10rem !important
}

// Padding Right Classes 
.pe-6 {
    padding-right: 3.25rem !important
}
.pe-7 {
    padding-right: 3.5rem !important
}
.pe-8 {
    padding-right: 3.75rem !important
}
.pe-9 {
    padding-right: 4rem !important
}
.pe-10 {
    padding-right: 4.25rem !important
}
.pe-11 {
    padding-right: 4.5rem !important
}
.pe-12{
    padding-right: 4.75rem !important
}
.pe-13{
    padding-right: 5rem !important
}
.pe-14 {
    padding-right: 5.25rem !important
}
.pe-15 {
    padding-right: 5.5rem !important
}
.pe-16{
    padding-right: 5.75rem !important
}
.pe-17{
    padding-right: 6rem !important
}

// Padding Bottom Classes 
.pb-6 {
    padding-bottom: 3.25rem !important
}
.pb-7 {
    padding-bottom: 3.5rem !important
}
.pb-8 {
    padding-bottom: 3.75rem !important
}
.pb-9 {
    padding-bottom: 4rem !important
}
.pb-10 {
    padding-bottom: 4.25rem !important
}
.pb-11 {
    padding-bottom: 4.5rem !important
}
.pb-12{
    padding-bottom: 4.75rem !important
}
.pb-13{
    padding-bottom: 5rem !important
}
.pb-14 {
    padding-bottom: 5.25rem !important
}
.pb-15 {
    padding-bottom: 5.5rem !important
}
.pb-16{
    padding-bottom: 5.75rem !important
}
.pb-17{
    padding-bottom: 6rem !important
}
.pb-18 {
    padding-bottom: 6.25rem !important
}
.pb-19 {
    padding-bottom: 6.5rem !important
}
.pb-20{
    padding-bottom: 6.75rem !important
}
.pb-21{
    padding-bottom: 7rem !important
}
.pb-22 {
    padding-bottom: 7.25rem !important
}
.pb-23 {
    padding-bottom: 7.5rem !important
}
.pb-24{
    padding-bottom: 7.75rem !important
}
.pb-25{
    padding-bottom: 8rem !important
}
.pb-26 {
    padding-bottom: 8.25rem !important
}
.pb-27 {
    padding-bottom: 8.5rem !important
}
.pb-28{
    padding-bottom: 8.75rem !important
}
.pb-29{
    padding-bottom: 9rem !important
}
.pb-30 {
    padding-bottom: 9.25rem !important
}
.pb-31 {
    padding-bottom: 9.5rem !important
}
.pb-32{
    padding-bottom: 9.75rem !important
}
.pb-33{
    padding-bottom: 10rem !important
}
.pb-34 {
    padding-bottom: 10.25rem !important
}
.pb-35 {
    padding-bottom: 10.5rem !important
}
.pb-36{
    padding-bottom: 10.75rem !important
}
.pb-37{
    padding-bottom: 11rem !important
}
.pb-38 {
    padding-bottom: 11.25rem !important
}
.pb-39 {
    padding-bottom: 11.5rem !important
}
.pb-40{
    padding-bottom: 11.75rem !important
}
.pb-41{
    padding-bottom: 12rem !important
}


// Media Query CSS
@media (min-width:$breakpoint-xxl){
    // Padding Left
    .ps-xxl-0{
        padding-left:0px !important;
    }

    // Padding Top
    .pt-xxl-0{
        padding-top:0px !important;
    }

    // Padding Right
    .pe-xxl-0{
        padding-right:0px !important;
    }

    // Padding Botom
    .pb-xxl-0{
        padding-bottom:0px !important;
    }
}
@media (min-width:$breakpoint-xl){
    // Padding Left
    .ps-xl-0{
        padding-left:0px !important;
    }

    // Padding Top
    .pt-xl-0{
        padding-top:0px !important;
    }

    // Padding Top
    .pe-xl-0{
        padding-right:0px !important;
    }

    // Padding Bottom
    .pb-xl-0{
        padding-bottom:0px !important;
    }
}
@media (min-width:$breakpoint-lg){
    // Padding Left
    .ps-lg-0{
        padding-left:0px !important;
    }

    // Padding Top
    .pt-lg-0{
        padding-top:0px !important;
    }

    // Padding Right
    .pe-lg-0{
        padding-right:0px !important;
    }

    // Padding Bottom
    .pb-lg-0{
        padding-bottom:0px !important;
    }
}
@media (min-width:$breakpoint-md){
    // Padding Left
    .ps-md-0{
        padding-left:0px !important;
    }

    // Padding Top
    .pt-md-0{
        padding-top:0px !important;
    }

    // Padding Right
    .pe-md-0{
        padding-right:0px !important;
    }

    // Padding Bottom
    .pb-md-0{
        padding-bottom:0px !important;
    }
}
@media (min-width:$breakpoint-sm){
    // Padding Left
    .ps-sm-0{
        padding-left:0px !important;
    }

    // Padding Top
    .pt-sm-0{
        padding-top:0px !important;
    }

    // Padding Right
    .pe-sm-0{
        padding-right:0px !important;
    }

    // Padding Bottom
    .pb-sm-0{
        padding-bottom:0px !important;
    }
}